.welcome {
  background-color: $blue;

  h1 {
    display: block;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 50px 0;
  }
}
